.users{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pagination{
    padding: 10px;
}

table{
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

td{
    padding: 5px;
}

th, td {
    border-bottom: 1px solid black;
    margin: 0;
}
