* {
    font-family: 'Roboto', sans-serif;
}

html, head, body{
    margin: 0;
    padding: 0;
}

html, body, head{
    height: 100%;
    width: 100%;
}

.white-text{
    color: white;
}

.bold{
    font-weight: bold;
}

.title{
    font-size: 2rem;
}

.pointer{
    cursor: pointer;
}

.center{
    text-align: center;
}

.primary{
    background: linear-gradient(0.25turn,  rgb(70, 0, 182), rgb(0, 100, 182));
}

.button,
button{
    padding: 10px;
    border-radius: 5%;
    cursor: pointer;
    color: white;
}