<div class="container">
  <div class="details">
    <h2>User Details</h2>
    <div class="avatar"><img src="{{user.avatar}}" alt="Avatar"></div>
    <div class="container-text">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="first_name" placeholder="First Name">
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="last_name" placeholder="Last Name">
        <label for="email">Email Name: </label>
        <input id="email" type="email" formControlName="email" placeholder="Email address">
        <div class="action-bar">
          <button class="primary" type="button" routerLink="/home">Back</button>
          <button class="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
